body {
    font-family: 'Open Sans', sans-serif;
}

/* header style */
.nav-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
    max-width: 750px;

}

.para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 700px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    margin-bottom: 150px;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {

    padding-left: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .nav-title {
    padding-top: 200px;
}

.banner .profile {
    width: 700px;
    margin-top: 50px;
    margin-right: 250px;
}

/* our featured flower section style */
.section-title {
    margin-top: 180px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 750px;
    margin-right: 750px;
    margin-bottom: 25px;
}

.flower {
    text-align: center;
}

.flower .para-one {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400px;
    margin-left: 900px;
    margin-right: 900px;

}

/* second section style */
.picture {
    margin-top: 80px;
    text-align: center;
}

.picture .pic-one {

    margin-left: 250px;
    width: 500px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 70px 0 70px;
    margin-right: 30px;

}

.picture .pic-three {
    margin-right: 250px;
    width: 500px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 70px 0 70px;

}

.picture .pic-two {
    width: 500px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 70px 0 70px;
    margin-right: 30px;
}

.picture {
    display: flex;
    margin-left: 240px;
    margin-right: 240px;

}

.rows {
    text-align: center;
    padding: 0px auto;
}

.h {
    text-align: center;
    margin-left: 200px;
}

.h2 {
    margin-right: 200px;
}

.men {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    border: 0;
    margin-left: 490px;
    margin-right: 450px;


}

.sel {
    display: flex;
    padding-top: 150px;
    align-items: center;
}

.delivery1 {
    padding: 90px 0 150px 420px;

}

.delivery2 {
    padding: 90px 0 150px 320px;
}

.delivery3 {
    padding: 90px 0 150px 320px;
}


.ban {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.ban-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
    padding-top: 230px;
    padding-left: 430px;
}

.ban-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    padding-left: 420px;

}
.ban .btn-primary{
    margin-left: 600px;
}
.tob{
    padding: 100px 450px 100px 0;
    height: 550px;
    width: 500px;
}